<% include ../partials/header %> 
<script src="../js/charityFiles/selectedCharity.js"></script>

  
 
<div class="container col-sm-12" id="mainform"
    style="width: 100vw; display: flex; justify-content: center; margin-top: 55px;  min-height: 100vh">

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <input id="areaCode" type="text" value="<%= areaCode %>" hidden>
        <div class="panel panel-info">
            <div>
                <h1 class="text-center" style="align-self: auto; margin-top: 25px;"><strong>Charity</strong></h1>
                <h2 class="text-center" style="align-self: auto; margin-top: 25px;" id="profileDelails"><strong>
                        Profile View
                    </strong></h2> 
            </div>
            <br>
            <div id="ifCharity" style="display:none">
            <div class="media-object">
                <img id="profileImage" class="figure" src="" alt="Profile Image">
                <div class="media-body">
                    <div class="media-body-info">
                        <label for="businessName" id="">Charity Name:</label>
                        <input type="text" id="businessName" class="media-body-info-detail" disabled>
                    </div>
                    <div class="media-body-info">
                        <label for="npo_number" id="">NPO Number:</label>
                        <input type="text" id="npo_number" class="media-body-info-detail" disabled>
                    </div>
                    <div class="media-body-info">
                        <label for=" mob_no" id="">Contact:</label>
                        <input type="number" id="mob_no" class="media-body-info-detail" disabled>
                    </div>
                    <div class="media-body-info">
                        <label for=" email" id="">Email:</label>
                        <a href="mailTo:www.com" id="email" class="media-body-info-detail">email</a>
                    </div>
                    <div class="media-body-info">
                        <label for=" website" id="">website:</label>
                        <a href="#" type="text" id="website" class="media-body-info-detail" target="_blank">Website</a>
                    </div>
                    <div class="media-body-info">
                        <label for=" facebook" id="">facebook:</label>
                        <a href="#" id="facebook" class="media-body-info-detail">facebook</a>
                    </div>
                </div>
            </div>
            <hr>
            <br>
            <div class="text-infoProfile">
                <label for="profile_description" id=""><strong>Profile Description:</strong></label>
                <p name="" id="profile_description"></p>
            </div>
            <hr>

            <div class="media-body">
                <h3>Banking Details</h3>
                <div class="media-body-info">
                    <label for=" mob_no" id="">Account Name:</label>
                    <input type="text" id="branchName" class="media-body-info-detail" disabled>
                </div>
                <div class="media-body-info">
                    <label for="businessName" id="">Bank:</label>
                    <input type="text" id="bankName" class="media-body-info-detail" disabled>
                </div>
                <div class="media-body-info">
                    <label for=" email" id="" hidden>Branch Code:</label>
                    <input type="text" id="branchCode" class="media-body-info-detail" disabled hidden>
                </div>
                <div class="media-body-info">
                    <label for=" website" id="">Account Number:</label>
                    <input type="text" id="accountNumber" class="media-body-info-detail" disabled>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="media-object-business">
                <img id="charity_image1" src="" alt="charity Image 1" class="figure-business">
                <img id="charity_image2" src="" alt="charity Image 2" class="figure-business">
                <img id="charity_image3" src="" alt="charity Image 3" class="figure-business">
            </div>
        </div>
    </div>
        
    </div>

</div>




<% include ../partials/footer %>