<% include ../partials/header %>

<section class="about-us" id="about" style="margin-top: 65px; width: 100vw">
    <div class="container" style="align-content: center">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <h1 class="section-title">About Us</h1>
            </div>
            <div class="col-md-12 col-xs-12 text-center" style="width: 100%">
                <div class="about-content">
                    <p>The Suburbs Directory was born in early 2019 with the idea being conceived in early 2018.</p>

                    <p>The Suburbs Directory was formed to be the business platform for 7 successful community Facebook
                        Groups. The seven groups are South Peninsula Sell & Swop, Southern Suburbs Sell & Swop, City
                        Bowl Sell & Swop, Northern Suburbs Sell & Swop, Atlantic Seaboard Sell & Swop, West Coast Sell
                        & Swop and Helderberg Sell & Swop.</p>

                    <p>It all started with South Peninsula Sell & Swop in 2015, a community based Facebook group, where
                        its members were able to buy, sell & swop second hand goods, share information and connect with
                        the greater community. Over the last three years the group has grown from strength to strength
                        and currently hosts more than 14 000 members. </p>

                    <p>In early 2019 we decided to allow businesses access to the groups by offering them an
                        advertising opportunity via our online directory. This allows businesses to access the enormous
                        amount of foot traffic on each of the Facebook groups. </p>
                    <p><strong>structure:</strong></p>
                    Choose your package (There are a couple of different packages available. Your package will include
                    a website listing and allow you to post on one or more of the seven facebook groups either once or
                    twice a week (depending on your package option) Each option is priced individually. If you would
                    like to request a package breakdown, please email <a href="mailto: lisa@suburbsdirectory.co.za">lisa@suburbsdirectory.co.za</a>.
                    If you do not have a business listing / package with The Suburbs Directory, you will not be allowed
                    to advertise your business on any of the seven Facebook pages.</p>

                    <p> The decision to run The Business Directory alongside our Facebook groups was not based on the
                        idea of building a business empire, but rather on the idea of how we can impact on job creation
                        and the communities around us.</p>

                    <p> How do we plan on doing this you may ask? We have put a few structures in place to make sure we
                        stick to our promise of job creation, impacting positively and effectively on each of our seven
                        communities and giving back to the businesses that list with us and help us to achieve our
                        first two promises.
                        Job creation: As each of the seven areas on The Suburbs Directory grows our goal is to employ
                        two people to manage each area. We would eventually like to see one person managing the
                        facebook group and one person running The Suburbs Directory side of things for the specific
                        group area.</p>

                    <p>Impact on our communities: Each of the seven suburbs will have one NPO / NGO assigned to it per
                        year. This NPO / NGO would form part of the specific community that it has been assigned to.
                        That NPO / NGO will then receive a monthly donation from us for the next 12 months, all based
                        on how many businesses are registered with that specific suburb, so the more business listings
                        that Suburb has, the more money that community project will receive from The Suburbs Directory.</p>

                    <p>Giving back to the businesses that list with us: We believe that supporting each other in
                        business is an essential part of growing a healthy, supportive and fundamentally sound business
                        community. In order for us to play our part in this, we have decided to include a business give
                        back, where we give a financial percentage back to one listed business each quarter. We would
                        like to eventually be giving back around <strong>R5000</strong> per quarter in each of the
                        seven suburbs, that’s <strong>R20 000</strong> per year per suburb!
                        As we watch the growth of each of the Facebook Groups we realize the need to offer this service
                        to businesses. We also understand that digital marketing plays a vital role for businesses both
                        large and small.</p>
                    <p>We are excited to see a strong reputable business community form within each of the seven areas
                        of the Western Cape, whilst contributing effectively to job creation, the communities around us
                        and to each of the businesses who support us.</p>
                    <p><strong>THE SUBURBS DIRECTORY TEAM</strong></p>
                </div>
            </div><br><br><br>
        </div>
    </div>
</section>


<!--======== end about us =========-->

<% include ../partials/footer %>