<% include ../partials/header %>
<script src="../js/charityEmail.js"></script>

<div class="container col-sm-12" id="mainform"
    style="width: 100vw; display: flex; justify-content: center; margin-top: 55px">

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="" action="" onSubmit="return checkblank(this);">
                    <h1 style="align-items: center">Suggest a Charity</h1>
                    <div class="form-group">
                        <label for="charity_name" class="col-md-3 control-label">Organization Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="charity_name" id="charity_name"
                                placeholder="Organization Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_person" class="col-md-3 control-label">Contact Person</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="contact_person" id="contact_person"
                                placeholder="Contact Person">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_number" class="col-md-3 control-label">Contact Number</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" name="contact_number" id="contact_number"
                                placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email Address</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="email address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="website" class="col-md-3 control-label">Website</label>
                        <div class="col-md-9">
                            <input type="url" class="form-control" name="website" id="website" placeholder="Website">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="facebook" class="col-md-3 control-label">Facebook Link</label>
                        <div class="col-md-9">
                            <input type="url" class="form-control" name="facebook" id="facebook"
                                placeholder="Facebook Link">
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="area" class="col-md-3 control-label">Area</label>
                        <div class="col-md-9" id="areaChosen">
                            <select name="" id="areaCharityChosen">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="description" class="col-md-3 control-label">Your reason for selecting this charity
                            (500 words max)</label>
                        <div class="col-md-9">
                            <textarea id="description" name="description" id="" cols="30" rows="10" style="width: 100%;"
                                maxlength='500'></textarea>
                        </div>
                    </div>
                    <br>
                    <div id="successEmail" class="alert alert-success col-md-9" role="alert" style="display:none;">
                        Email succesfully Sent!!
                    </div>
                    <input id="sendMail" class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="submit"
                        value="Submit">
                    <input class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="reset" value="reset">
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>