<% include ../partials/header %>
<!-- <script src="../contact.js"></script> -->
<script src="../../contact.js"></script>



<div class="container col-sm-12" id="mainform" style="width: 100vw; display: flex; justify-content: center; margin-top: 55px">

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post" action="/send-email">
                    <h1>Contact Us</h1>
                    <div class="alert alert-<%= alertType %> >" role="alert" style="display: <%= display  %>">
                        <% if(message == 'Your Email has been sent!') { %> 
                            <%= message %>
                         <% } %>
                    
                  </div>
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label">Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="name" placeholder="Name">
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-md-3 control-label">Subject</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-md-3 control-label">Message</label>
                        <div class="col-md-9">
                            <textarea name="content" id="" cols="57" rows="10" placeholder="Enter Message Here" style="width: 100%"></textarea>
                        </div>
                    </div><br>
                    <div class="contactBtns">
                        <input class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="submit" value="Send Form"><br><br>
                    </div>
                </form><br>
                <div class="form-group">
                    
                    <p>Or email</p>
                    <a class="btn btn-outline-success my-2 my-sm-0 contactBtn" href="mailto: waynebruton@icloud.com"
                        >Send
                        Email</a>
                        <br><br>
                        <p>Contact us on Social Media</p>
                    <a  href="https://www.facebook.com/suburbsdirectory/"
                        style="width: 100%" target="_blank"><i class="fab fa-facebook-f" >  suburbsdirectory</i></a>
                                <br><br>
                    <a  href="https://www.instagram.com/thesuburbsdirectory/"
                        style="width: 100%" target="_blank"><i class="fab fa-instagram" > @thesuburbsdirectory</i></a>    
                </div>

            </div>
        </div>
    </div>
</div>








<% include ../partials/footer %>