<% include ../partials/header %>
<section class="package_info" id="package" style="margin-top: 65px; width: 100vw">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center"><br>
               <a href="#about"><h1 class="section-title">Packages</h1></a><br>
                <h3>Useful Package Information</h3>
            </div><br><br>
            <div class="col-md-12 col-xs-12 text-center" style="width: 100%">
                <div class="package-content">

                    <br>
                    <h6><strong> What is a website listing?</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> This is your own personal business profile on The Suburbs Directory.</li>
                        <li> On your listing you will have all your contact details, a description of your business and
                            some photos. </li>
                    </ul><br>
                    <h6><strong> What is a Facebook self-service business advert?</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> This is an advert for your business that you post to our Facebook page, either on a Monday
                            or a
                            Thursday, depending on the package you have chosen.</li>
                    </ul><br>
                    <h6><strong> Per month or per year?</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> You can choose to pay a monthly fee for the duration of 12 months on a debit order, or you
                            can
                            choose to do a once off payment for the year.</li>
                        <li> If you choose to pay upfront for the year, you will
                            essentially only be paying for 10 months.</li>
                    </ul><br>
                    <h6><strong> The one month option explained.</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> Our ONCE OFF – month to month option is for those who would like to ‘test the waters’ or
                            for those
                            businesses who would prefer to only list in certain months of the year (E.G The month of
                            mothers
                            day or the month of Christmas).</li>
                    </ul><br>
                    <h6><strong> What is a cover photo?.</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> The cover photo on Facebook is the main photo displayed on the Facebook page. This photo
                            is seen by
                            all members when they log onto that specific Facebook page. It is the most amount of
                            exposure a
                            business can receive.</li>
                    </ul><br>
                    <h6><strong> What if I don’t want to post my own Facebook adverts?</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> That’s OK! One of our admins can post on your behalf at an additional R30 per month per
                            package or
                            for just R300 per year. All you need to do is supply us with the relevant information and
                            we will
                            create and post your advert on your behalf.</li>
                    </ul><br>
                    <h6><strong> Can The Suburbs Directory help me with a website or logo design?</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> Yes we can! We have a dedicated web developer who does all our website design for us. Just
                            let us
                            know what you are wanting and we will put you in touch with him.</li>
                    </ul><br>
                    <h6><strong> Can I list in more than one category?</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> Yes you can! We have a variety of different categories. If you would like to list in more
                            than one
                            it is an additional payment of only R5 per category.</li>
                    </ul><br>
                    <h6><strong> Discounts!</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> We offer a 15% discount on OPTION ONE and a 17% discount on OPTION TWO!</li>
                    </ul><br>
                    <h6><strong> Where does my money go every month?</strong></h6><br>
                    <ul class="package_FAQ">
                        <li> Each business that signs up with us become apart of something much larger than just an
                            online
                            directory. The Suburbs Directory have chosen one charity in each of the seven suburbs of
                            the
                            Western Cape. We donate 10% of our overall income generated in each specific suburb to that
                            specific charity for one whole year! When you sign your business up with us you are
                            essentially
                            helping to sustain an NPO and making an impact on the community around you. The more
                            business’s
                            that list in each area the more that specific charity will get from us.</li>
                    </ul><br>
                </div>
            </div><br><br><br>
        </div>
    </div>
</section>
<section class="about-us" id="about" style="margin-top: 65px; width: 100vw">
    <div class="container" style="align-content: center">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <h1 class="section-title">Packages</h1>
            </div>
            <div class="col-md-12 col-xs-12 text-center" style="width: 100%">
                <div class="package-options">
                    <table>
                        <tr>
                            <th>Suburbs</th>
                            <th>Option (Discount - if applicable)</th>
                            <th>Description</th>
                            <th>per month</th>
                            <th>per year</th>
                            <th>once off</th>
                        </tr>
                        <tr>
                            <td>One Suburb</td>

                            <td>Option 1</td>
                            <td>
                                <ul style="align-content: left; list-style: none;">
                                    <li>Website listing</li>
                                    <li>One Facebook self-service business advert per week (Mondays only)</li>
                                </ul>
                            </td>
                            <td>R90</td>
                            <td>R900</td>
                            <td>R140</td>
                        </tr>
                        <tr>
                            <td>One Suburb</td>
                            <td>Option 2</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>Two Facebook self-service business adverts per week (Mondays & Thursdays only)</li>
                                </ul>
                            </td>
                            <td>R120</td>
                            <td>R1 200</td>
                            <td>R170</td>
                        </tr>
                        <tr>
                            <td>Two Suburbs</td>

                            <td>Option 3</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>One Facebook self-service business advert per week (Mondays only)</li>
                                </ul>
                            </td>
                            <td>R180</td>
                            <td>R1 800</td>
                            <td>R230</td>
                        </tr>
                        <tr>
                            <td>Two Suburbs</td>

                            <td>Option 4</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>Two Facebook self-service business adverts per week (Mondays & Thursdays only)</li>
                                </ul>
                            </td>
                            <td>R240</td>
                            <td>R2 400</td>
                            <td>R290</td>
                        </tr>
                        <tr>
                            <td>Three Suburbs</td>

                            <td>Option 5</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>One Facebook self-service business advert per week (Mondays only)</li>
                                </ul>
                            </td>
                            <td>R270</td>
                            <td>R2 700</td>
                            <td>R320</td>
                        </tr>
                        <tr>
                            <td>Three Suburbs</td>

                            <td>Option 6</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>Two Facebook self-service business adverts per week (Mondays & Thursdays only)</li>
                                </ul>
                            </td>
                            <td>R360</td>
                            <td>R3 600</td>
                            <td>R410</td>
                        </tr>
                        <tr>
                            <td>Four Suburbs</td>
                            <td>Option 7 (10%)</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>One Facebook self-service business advert per week (Mondays only)</li>
                                </ul>
                            </td>
                            <td>R324</td>
                            <td>R3 240</td>
                            <td>R374</td>
                        </tr>
                        <tr>
                            <td>Four Suburbs</td>
                            <td>Option 8 (10%)</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>Two Facebook self-service business adverts per week (Mondays & Thursdays only)</li>
                                </ul>
                            </td>
                            <td>R432</td>
                            <td>R4 320</td>
                            <td>R482</td>
                        </tr>
                        <tr>
                            <td>Five Suburbs</td>
                            <td>Option 9 (15%)</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>One Facebook self-service business advert per week (Mondays only)</li>
                                </ul>
                            </td>
                            <td>R382</td>
                            <td>R3 820</td>
                            <td>R432</td>
                        </tr>
                        <tr>
                            <td>Five Suburbs</td>
                            <td>Option 10 (15%)</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>Two Facebook self-service business adverts per week (Mondays & Thursdays only)</li>
                                </ul>
                            </td>
                            <td>R510</td>
                            <td>R5 100</td>
                            <td>R560</td>
                        </tr>
                        <tr>
                            <td>Six Suburbs</td>
                            <td>Option 11 (20%)</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>One Facebook self-service business advert per week (Mondays only)</li>
                                </ul>
                            </td>
                            <td>R432</td>
                            <td>R4 320</td>
                            <td>R482</td>
                        </tr>
                        <tr>
                            <td>Six Suburbs</td>
                            <td>Option 12 (20%)</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>Two Facebook self-service business adverts per week (Mondays & Thursdays only)</li>
                                </ul>
                            </td>
                            <td>R576</td>
                            <td>R5 760</td>
                            <td>R626</td>
                        </tr>
                        <tr>
                            <td>Seven Suburbs</td>
                            <td>Option 13 (25%)</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>One Facebook self-service business advert per week (Mondays only)</li>
                                </ul>
                            </td>
                            <td>R472</td>
                            <td>R4 720</td>
                            <td>R522</td>
                        </tr>
                        <tr>
                            <td>Seven Suburbs</td>
                            <td>Option 14 (25%)</td>
                            <td>
                                <ul>
                                    <li>Website listing</li>
                                    <li>Two Facebook self-service business adverts per week (Mondays & Thursdays only)</li>
                                </ul>
                            </td>
                            <td>R672</td>
                            <td>R6 720</td>
                            <td>R722</td>
                        </tr>



                    </table>
                    <br><br><br><br>
                </div>
            </div><br><br><br>
        </div>
    </div>
</section>


<section class="about-us" id="about" style="margin-top: 65px; width: 100vw">
    <div class="container" style="align-content: center">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <h1 class="section-title">Additional Package Options</h1>
            </div>
            <div class="col-md-12 col-xs-12 text-center" style="width: 100%">
                <div class="package-options">
                    <table>
                        <tr>
                            <th>Item</th>
                            <th>Description</th>
                            <th>per month</th>
                            <th>per year</th>
                            <th>once off</th>
                        </tr>
                        <tr>
                            <td class="addDetail">Additional category</td>
                            <td class="addDetail">Standard fee regardless of how many suburbs you are listed in.</td>
                            <td class="addDetail">+ R10</td>
                            <td class="addDetail">+ R70</td>
                            <td class="addDetail">+ R10</td>
                        </tr>
                        <tr>
                            <td class="addDetail">Cover Photo</td>
                            <td class="addDetail">This is the main picture on our Facebook group/s. Fee’s are per
                                suburb cover picture. <br>Cover pictures are displayed from Monday – Friday for once
                                off, and for 21 consecutive days for per month. email: <a href="mailto: lisa@suburbsdirectory.co.za">lisa for further information.</a></td>
                            <td class="addDetail">R1 200</td>
                            <td class="addDetail">N/A</td>
                            <td class="addDetail">R300 (pw)</td>
                        </tr>
                        <tr>
                            <td class="addDetail">Admin assistance fee</td>
                            <td class="addDetail">One of our dedicated admins will post your adverts to our Facebook
                                pages on your behalf, <br> all you have to do is supply us with the once off content.
                                Amounts quoted per suburbs.</td>
                            <td class="addDetail">+ R80</td>
                            <td class="addDetail">R960</td>
                            <td class="addDetail">R80</td>
                        </tr>
                        <tr>
                            <td class="addDetail">Web, Logo or business card design </td>
                            <td class="addDetail">Quote on request – please email: <a href="mailto: lisa@suburbsdirectory.co.za">lisa</a>
                                for further information.</td>
                            <td class="addDetail">N/A</td>
                            <td class="addDetail">N/A</td>
                            <td class="addDetail">N/A</td>
                        </tr>


                    </table>
                    <br><br><br><br>
                </div>
            </div><br><br><br>
        </div>
    </div>
</section>


<!--======== end about us =========-->

<% include ../partials/footer %>