<% include ../partials/header %>

<div class="container col-sm-12" id="mainform" style="width: 100vw; display: flex; justify-content: center; margin-top: 55px">

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
 

            <div>
                <h1 class="text-center" style="align-self: auto; margin-top: 25px;">Terms and conditions </h1>
            </div>
            <div class="about-content">
                <p>The Suburbs Directory reserves the right to accept or decline any application submitted to us. It is
                    at the discretion of The Suburbs Directory who may or may not list with us. We pride our directory
                    on reputable, honest, reliable and customer service based businesses. If you do not align with our
                    moral code you will not be approved as a listing.</p>

                  <p>If we receive more than two negative feedbacks from clients who have used you, your listing will be
                    suspended until an investigation has been completed and a decision has been made. You will not be
                    remunerated for your suspension period, however if you are found to not be at fault, you will be
                    able to make up your time missed at the end of your contract period. Shall you be found guilty;
                    your contract will be immediately terminated without any compensation.</p>

                    <p>The Suburbs Directory will not approve any business profiles on the website unless you have filled
                    out all the necessary information. We request that all businesses give a clear, well-articulated
                    description of themselves. Relevant and up to date contact details. A high-resolution logo and a
                    minimum of two thumbnail photographs (Please discuss with your sales rep if this is not possible).</p>

                    <p>Any advertising done on any of the Facebook pages have to be accompanied by your unique URL link.
                    If your URL link is not displayed, your advert will not be approved. By displaying your URL you are
                    showing that you are a registered Suburbs Directory Business.</p>

                    <p>All Facebook adverts on a Monday and a Thursday need to be submitted for approval before 17:00 on
                    each given day. We cannot guarantee that your post will be approved after 17:00, in which case you
                    will need to forfeit your advert for that day.</p>

                    <p>All contracts run for a 12-month period with the option to renew. Unless you have signed up for our
                    one month only package.</p>

                    <p>We do not guarantee that you will obtain business from your listing. The Suburbs Directory offers a
                    platform in which you are able to engage with potential clients.</p>

                    <p>It is the responsibility of the business to post their self-service adverts onto their specific
                    Facebook group. If you ‘forget’ to post, you will unfortunately have to forfeit that day and post
                    on the next applicable day to your contract, unless otherwise agreed upon with your Suburbs
                    Directory representative.</p>

                    <p>Each package is different; your listing will be suspended if you do not abide by your package
                    conditions. E.G If your package states one self-service advert on a Monday, and you post on a
                    Monday and a Thursday. Your profile will be immediately deactivated and you will need to email your
                    sales rep in order to reactivate. Your profile can only be reactivated twice.</p>

                    <p>All payments need to be made online (via our PayFast), or via EFT by the 3rd of each month. If
                    payment is not received on time your account will be deactivated.</p>

                    <p>Contracts are not transferable unless agreed upon by your Suburbs Directory representative.</p>

                    <p>You may change your category a maximum of three times in a year. Please request to make the change
                    via your Suburbs Directory representative.</p>

                    <p>You may change your Suburb one a year. If you wish to change your Suburbs after your one free
                    change there will be an amount of R100 levied for admin costs.</p>

                    <p>We expect businesses to conduct themselves in a professional manner at all times when engaging on
                    our Facebook pages or with clients directly related to The Suburbs Directory.</p>

                    <p><strong>We thank you for respecting and always being conscious of our terms and conditions.</strong></p>
                


            </div>
        </div>
    </div> 

</div>





<% include ../partials/footer %>