<br><br>

<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-md-12 text-center">
                    <p>Done By <a href="https://www.eccentrictoad.com" target="_blank">The Eccentric Toad</a> | Images
                        from
                        Unsplash.com | All Rights Reserved.</p>
                </div>
            </div>
        </div>
        
    </footer>
    
    </body>
    
    </html>