<% include partials/header %>
<script src="../users.js"></script>


<div class="container col-sm-12" id="mainform" style="width: 100vw; display: flex; justify-content: center; margin-top: 55px">

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post" action="/createUser">
                    <h1>Create User</h1>
                    <h2 style="color:red"><%= message %></h2>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" name="email" placeholder="Email here" id="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Upassword" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="Upassword" id="Upassword" placeholder="6 characters, min 1 upper case,min 1 lower case, min 1 number & 1 special character ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="UpasswordR" class="col-md-3 control-label">Repeat Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="UpasswordR" id="UpasswordR" placeholder="">
                        </div>
                    </div>


                    <div class="alert alert-success" role="alert" style="display: none" id="userExists">
                        This user already exists
                    </div>
                    <div class="alert alert-danger" role="alert"style="display: none" id="alertMessage">
                       <p id="alertMessageText"> A simple danger alert—check it out!</p>
                    </div>
                    <div style="display:flex">
                    <input class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="submit" value="Send Form" style="display: none; margin-right: 10px;" id="submitBtn">
                    <input class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="reset" value="reset Form"><br><br>
                </div>
                </form><br><br><br><br>
                <a href="/dashboard">Dashboard</a>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br>


<% include partials/footer %>