<% include partials/header %>
<script src="../signup.js"></script>

<div class="container col-lg-12" id="mainform" style="width: 100vw; display: flex; justify-content: center; margin-top: 55px">

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-body">
                <div id="panel">
                    <form class="form-horizontal" role="form" method="POST" action="/createProfile">
                        <h1 style="text-align: center">Join Us!</h1>
                        <div class="form-group">
                            <div id="busineNameExists" class="alert alert-danger col-md-9" role="alert" style="display:none;">
                                That name already exists
                            </div>
                            <label for="Business_name" class="col-md-3 control-label">Business Name</label>
                            <div class="col-md-9">
                                <input type="text" id="busnessName" class="form-control" name="Business_name"
                                    placeholder="Name of Business" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="first_name" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="first_name" placeholder="Owner First Name"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="last_name" placeholder="Owner Last Name"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mob_no" class="col-md-3 control-label">Contact Number</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" name="mob_no" placeholder="Contact Number"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email Address</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" name="email" placeholder="email address"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="website" class="col-md-3 control-label">Website</label>
                            <div class="col-md-9">
                                <!-- <script>
                                    function checkURL (abc) {
                                    var string = abc.value;
                                    if (!~string.indexOf("http")) {
                                    string = "http://" + string;
                                    }
                                    abc.value = string;
                                    return abc
                                }

                                onblur="checkURL(this)"
                            </script> -->
                                <input type="text" class="form-control" name="website" placeholder="Website">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="facebook" class="col-md-3 control-label">Facebook Page</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="facebook" placeholder="Facebook Link">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="instagram" class="col-md-3 control-label">Instagram Handle</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="instagram" placeholder="Instagram Handle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkedin" class="col-md-3 control-label">LinkedIn Page</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="linkedin" placeholder="LinkedIn Page">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="feedback" class="col-md-3 control-label">How did you hear about us?</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="feedback" placeholder="How did you hear about us?">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group" name="areacheckboxes">
                            <label for="area" class="col-md-3 control-label">Area applying for:</label>
                            <div class="col-md-9" id="areaCheckBoxes">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div id="viewOptions" class="col-md-9" style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                                <label for="options" class="col-md-3 control-label">Options</label>
                                <a id="viewOptionsBtn" class="btn btn-outline-success my-2 my-sm-0 contactBtn flex-shrink-2"
                                    href="/packages" target="_blank">View
                                    Options</a>
                            </div>
                            <div class="col-md-9">
                                <select name="selectedOption" id="optionSelect">
                                    <option value="0">You must choose an area</option>

                                </select>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label for="category" class="col-md-3 control-label">Category:</label>
                            <div class="col-md-9" id="categoryCheckBoxes">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categories" class="col-md-3 control-label">Product / Service</label>
                            <div class="col-md-9" style="display: flex; justify-content: space-around;" id="typeOfBusiness">
                                <div>
                                    <input type="radio" name="product_service" id="product" checked><span> </span><label
                                        for="product">Product</label>
                                </div><span></span>
                                <div>
                                    <input type="radio" name="product_service" id="service"><span> </span><label for="service">Service</label>
                                </div>
                                <div>
                                    <input type="radio" name="product_service" id="both"><span> </span><label for="both">Both</label>
                                </div>
                                <input name="psb" type="text" hidden id="psb" value="product">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="additional_options" class="col-md-3 control-label">Additional Options</label>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div id="adminAssistance" class="areaChoice">
                                        <div class="individualArea"> <input class="check" style="margin-top: 7px;" type="checkbox"
                                                name="adminAssist" id="adminAssist"><label for="adminAssist">Admin
                                                Assistance</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <label for="profile_heading" class="col-md-3 control-label">Profile Heading</label>
                        <div class="form-group"></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="profile_heading" placeholder="Profile Heading">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label">About your business (3000
                                characters
                                max)</label>
                            <div class="col-md-9">
                                <textarea id="businessDescription" name="description" cols="30" rows="10" style="width: 100%;"
                                    maxlength='3000' required></textarea>
                                <p id="wordcount">3000 characters remaining.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label"><strong>Cost Break Down</strong></label>

                            <div class="col-md-9">
                                <p>Errors & ommissions excluded</p>
                                <table>
                                    <tr>
                                        <th>Option</th>
                                        <th>Monthly</th>
                                        <th>Annual</th>
                                        <th>Once Off</th>
                                    </tr>
                                    </th>
                                    <div id="costingTableDetails">
                                        <tr id="areasTBL">
                                            <td class="addCostDetail">Areas</td>
                                            <td class="addCostDetail" id="areaMonthly">R0</td>
                                            <td class="addCostDetail" id="areaYearly">R0</td>
                                            <td class="addCostDetail" id="areaOnceOff">R0</td>
                                        </tr>
                                        <tr id="categoriesTBL">
                                            <td class="addCostDetail">Categories</td>
                                            <td class="addCostDetail" id="catMonthly">R0</td>
                                            <td class="addCostDetail" id="catYearly">R0</td>
                                            <td class="addCostDetail" id="catOnceOff">R0</td>
                                        </tr>
                                        <tr id="adminTBL">
                                            <td class="addCostDetail">Admin Assist</td>
                                            <td class="addCostDetail" id="adminMonthly">R0</td>
                                            <td class="addCostDetail" id="adminYearly">R0</td>
                                            <td class="addCostDetail" id="adminOnceOff">R0</td>
                                        </tr>
                                        <tr id="totalsTBL" style="font-weight: bold">
                                            <td class="addCostDetail">Totals</td>
                                            <td class="addCostDetail" id="totMonthly">R0</td>
                                            <td class="addCostDetail" id="totAnnual">R0</td>
                                            <td class="addCostDetail" id="totOnceOff">R0</td>
                                        </tr>
                                    </div>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <label for="area" class="col-md-3 control-label">Before you can proceed, you need to agree to
                            the
                            <a href="terms" target="_blank">Terms & Conditions</a>:</label>
                        <div class="col-md-9">
                            <div id="terms" class="areaChoice" style="padding: 5px 55px; margin: 0 25px;">
                                <div class="individualArea"> <input class="check" style="margin-top: 7px;" type="checkbox"
                                        name="terms" id="terms"><label for="terms">I agree</label></div>
                            </div>
                        </div>
                        <br>
                        <hr><br>
                        <div>
                            <input id="createProfileBtn" class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="submit"
                                value="Continue >>">
                            <input class="btn btn-outline-success my-2 my-sm-0 contactBtn" type="reset" value="Reset"
                                id="resetBtn">
                        </div>
                    </form>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>

<!-- <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
  <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div> -->