<% include partials/header %>
<script src="/moveImage.js"></script>

<div id="mainImageArea">
<img  id="profileImage" src="/images/harli-marten-135841-unsplash.jpg" alt="">

<div id="imageCrop" >
</div>

</div><br><br>

<button id="params">Get Parameters</button>





<br><br><br>

<!-- <% include partials/footer %> -->