body {
    background-color: whitesmoke;
    /* background-color: #FFF; */
    /* background-color: rgb(222, 232, 245); */
    /* filter: invert(0) hue-rotate(210deg); */


}



/* ==========================================
Hide Map Outlines */

img[usemap], map area {
    outline: none;
}

/* ======================================
image crop section */

#profileImageDetails {
    /* display: none; */
}

#mainImageArea{
    border: 2px solid black;
    width: 404px;
    height: 404px;
    position: relative;
    /* top: 150px; */
    /* left: 150px; */
    /* z-index: 0; */
    /* display: none; */
    /* z-index: 2; */
}


#amendedImage{
    border: 2px solid black;
    width: 100%;
    width: 204px;
    height: 204px;
    position: relative;
    /* top: 150px; */
    /* left: 150px; */
    /* z-index: 0; */
    /* border-radius: 50%; */
    /* z-index: 2; */
}

#imageCrop {
    border: 2px dashed black;
    width: 204px;
    height: 204px;
    position: absolute;
    top: 75px;
    left: 75px;
    z-index: 2;
    display: none;
    /* background-color: red; */
}

/* #imageCrop:hover, #imageCrop:active { */
#imageCrop:hover {
    background-color: red;
    opacity: 0.2;
}



#profileImage {
    width: 100%;
    /* height: 100%; */
    z-index: 0;
}

#imageContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
    
}

#holdingContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#croppedImageContainer {
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
}



.cropSize:hover {
    cursor: pointer;
    color: black;
    background-color: orange;
}

/* =================================== */
/* footer */

footer {
    background-color: darkslategrey;
    clear: both;
    color: white;
    padding-top: 5px;
    width: 100%;
    bottom: 0;
    position: relative;

    
}

footer a {
    color: white;
}

footer a:hover {
    color: lime;
}

/* ====================================
Packages Table Styling */

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background-color: #eee;
}


/* table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;  
} */

th, td {
    padding: 60x;
    border: 1px solid #ccc;
    text-align: left;
    /* border: 1px solid black; */
}

table {
    margin: 30px 5px;
}

th {
    background-color: lime;
} 

ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
}



/* ========================================
contact form */

.contactBtns {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   width: 30%;
}
.contactBtn {
    background-color: blue;
    color: white;
}

/* =====================================
media screen sizes */

@media screen and (max-width: 768px) {
    #mainImageArea {
        width: 95%;
        margin-right: 5px;
    }

    #imageContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;    
    }


    .contactBtn {
        background-color: blue;
        color: white;
        width: 100%;
    }
    .contactBtns {

        width: 100%;
    }
    nav.navbar{
        max-height: 100vh;
        overflow: auto;
       -webkit-overflow-scrolling: touch;
       }
  
    .navbar-dark .navbar-toggler-icon {
        background-image: url('/images/suburbs2.png')
    }
 
    .navbar-toggler-icon {
        border: 1px solid white;
        background-color: white;
        /* border-radius: 7px; */
        background-image: url('/images/recoloredSuburbs.png')
    }

    

    #viewOptions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #viewOptionsBtn {
        width: 100%;
    }

    #croppedImageContainer {
        /* display: flex;
        flex-direction: column; */
        margin-top: 20px;
        
    }
    #holdingContainer {
        width: 100vw;
        /* height: 100vh;; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* display: none; */

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        /* border: 1px solid #ccc; */
        border: 1px solid grey;
    }

    td {
        border: none;
        /* border-bottom: 1px solid #eee; */
        border-bottom: 1px solid lightgray;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    
    td:nth-of-type(1):before {
        content: "Suburbs";
    }
    td:nth-of-type(2):before {
        content: "Option";
    }
    td:nth-of-type(3):before {
        content: "Description";
    }
    td:nth-of-type(4):before {
        content: "per month";
    }
    td:nth-of-type(5):before {
        content: "per year";
    }
    td:nth-of-type(6):before {
        content: "once off";
    }

    .addDetail:nth-of-type(1):before {
        content: "Item";
    }
    .addDetail:nth-of-type(2):before {
        content: "Description";
    }
    .addDetail:nth-of-type(3):before {
        content: "per month";
    }
    .addDetail:nth-of-type(4):before {
        content: "per year";
    }
    
    .addDetail:nth-of-type(5):before {
        content: "once off";
    }

    .areaChoice {
        /* width: 100vw; */
        padding: 5px 5px; 
        margin: 0 10px;
        float: right;
        /* justify-content: flex-start; */


    }
    .individualArea {
        width: 50vw;
        left: 0;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
}

/* ===================================
Area Choice */

.areaChoice {
    width: 100%;
    padding: 5px 55px; 
    margin: 0 25px; 
    display: block;
    /* display:flex;
    justify-content: space-between; */

}

.areaChoice:hover {
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 7px;
}

.individualArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between;
    /* flex-shrink: 1 1 0; */
}

select {
    width: 100%;
    height: 30px;
    background-color: white;
}

/* ===============================
Tooltips */

#tt {
    position:absolute;
    display:block;
    }
    #tttop {
    display:block;
    height:5px;
    margin-left:5px;
    overflow:hidden;
    }
    #ttcont {
    display:block;
    padding:2px 12px 3px 7px;
    margin-left:5px;
    background:#666;
    color:#fff;
    }
   #ttbot {
   display:block;
   height:5px; 
   margin-left:5px;  
   overflow:hidden;
   }
