

h1, h2 {
    /* text-transform: lowercase; */
font-family: 'Syncopate', sans-serif;
text-shadow: 4px 4px 4px #aaa;
}

/* .navbar-brand {
font-family: 'Syncopate', sans-serif;

    font-size: 20px;
} */

/* input,p, textarea, a, label, button, td { */
input,p, textarea, label, a, button, td {
font-family: 'Quicksand', sans-serif;
    /* text-transform: uppercase; */


}

html {
font-family: 'Quicksand', sans-serif;

}




body {
    background-color: whitesmoke;
}

hr {
    width: 85%;
    justify-content: flex-start;
}

.navbar {
    box-shadow: 5px 0 15px grey;;
}

/* ==========================================
Hide Map Outlines */

img[usemap], map area {
    outline: none;
}

/* ======================================
image crop section */

#a_profileImageform, #b_profileImageform, #c_profileImageform, #d_profileImageform, #e_profileImageform {
    width: 100vw; 
    display: flex; 
    justify-content: center;
    margin-top: 55px;
}

#a_profileImage, #b_profileImage, #c_profileImage, #d_profileImage {
    width: 100%;
}

.ImageDetails {
    align-items: center;
    /* height: 150vh; */

}

#a_mainImageArea {
    border: 2px solid black;
    width: 404px;
    height: 404px;
    position: relative;
}
#b_mainImageArea {
    border: 2px solid black;
    width: 404px;
    height: 404px;
    position: relative;
}

#c_mainImageArea {
    border: 2px solid black;
    width: 404px;
    height: 404px;
    position: relative;
}
#d_mainImageArea {
    border: 2px solid black;
    width: 404px;
    height: 404px;
    position: relative;
}

#amendedImage{
    border: 2px solid black;
    width: 100%;
    width: 204px;
    height: 204px;
    position: relative;
}

#a_imageCrop {
    border: 2px dashed black;
    width: 204px;
    height: 204px;
    position: absolute;
    top: 75px;
    left: 75px;
    display:none;
    background-color: lime;
    opacity: 0.4;
    color: white; 
}


#a_imageCrop:hover {
    background-color: red;
    opacity: 0.2;
    color: white; 

}
#b_imageCrop {
    border: 2px dashed black;
    width: 204px;
    height: 204px;
    position: absolute;
    top: 75px;
    left: 75px;
    display:none;
    background-color: lime;
    opacity: 0.4;
    color: white; 
}


#b_imageCrop:hover {
    background-color: red;
    opacity: 0.2;
    color: white; 

}
#c_imageCrop {
    border: 2px dashed black;
    width: 204px;
    height: 204px;
    position: absolute;
    top: 75px;
    left: 75px;
    display:none;
    background-color: lime;
    opacity: 0.4;
    color: white; 
}


#c_imageCrop:hover {
    background-color: red;
    opacity: 0.2;
    color: white; 

}
#d_imageCrop {
    border: 2px dashed black;
    width: 204px;
    height: 204px;
    position: absolute;
    top: 75px;
    left: 75px;
    display:none;
    background-color: lime;
    opacity: 0.4;
    color: white; 
}


#d_imageCrop:hover {
    background-color: red;
    opacity: 0.2;
    color: white; 

}

#profileImage {
    width: 100%;
}

#a_imageContainer, #b_imageContainer, #c_imageContainer, #d_imageContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;    
}

#a_holdingContainer, #b_holdingContainer, #c_holdingContainer, #d_holdingContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    width:120%;
}

#a_uploadProfileImagesBtns, #b_uploadProfileImagesBtns, #c_uploadProfileImagesBtns, #d_uploadProfileImagesBtns {
    display: flex;
}

.use-image {
    margin-left: 15px;
}

.cropSize:hover {
    cursor: pointer;
    color: black;
    background-color: orange;
}

#acceptProfileBtn {
    display: none;
}

/* =================================== */
/* footer */

footer {
    background-color: darkslategrey;
    clear: both;
    color: white;
    padding-top: 5px;
    width: 100%;
    bottom: 0;
    position: relative;    
}

footer a {
    color: white;
}

footer a:hover {
    color: lime;
}

/* ====================================
Packages Table Styling */

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background-color: #eee;
}


th, td {
    padding: 60x;
    border: 1px solid #ccc;
    text-align: left;
}

table {
    margin: 30px 5px;
}

th {
    background-color: lime;
} 

ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
}



/* ========================================
contact form */

.contactBtns {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   width: 30%;
}
.contactBtn {
    background-color: blue;
    color: white;
}

/* =====================================
media screen sizes */

@media screen and (max-width: 768px) {
    #a_mainImageArea, #b_mainImageArea, #c_mainImageArea, #d_mainImageArea {
        width: 95%;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
    }

    #a_uploadProfileImagesBtns, #b_uploadProfileImagesBtns, #c_uploadProfileImagesBtns, #d_uploadProfileImagesBtns {
        display: flex;
        flex-direction: column;
    }

    .use-image {
        margin-left: 0px;
    }
    #a_imageContainer, #b_imageContainer, #c_imageContainer, #d_imageContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;  
        width: 100%;  
    }


    .contactBtn {
        background-color: blue;
        color: white;
        width: 100%;
    }
    .contactBtns {

        width: 100%;
    }
    nav.navbar{
        max-height: 100vh;
        overflow: auto;
       -webkit-overflow-scrolling: touch;
       }
  
    .navbar-dark .navbar-toggler-icon {
        background-image: url('/images/suburbs2.png')
    }
 
    .navbar-toggler-icon {
        border: 1px solid white;
        background-color: white;
        background-image: url('/images/recoloredSuburbs.png')
    }

    

    #viewOptions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #viewOptionsBtn {
        width: 100%;
    }

    #a_holdingContainer, #b_holdingContainer, #c_holdingContainer, #d_holdingContainer {
        width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid grey;
    }

    td {
        border: none;
        border-bottom: 1px solid lightgray;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    
    td:nth-of-type(1):before {
        content: "Suburbs";
    }
    td:nth-of-type(2):before {
        content: "Option";
    }
    td:nth-of-type(3):before {
        content: "Description";
    }
    td:nth-of-type(4):before {
        content: "per month";
    }
    td:nth-of-type(5):before {
        content: "per year";
    }
    td:nth-of-type(6):before {
        content: "once off";
    }

    .addDetail:nth-of-type(1):before {
        content: "Item";
    }
    .addDetail:nth-of-type(2):before {
        content: "Description";
    }
    .addDetail:nth-of-type(3):before {
        content: "per month";
    }
    .addDetail:nth-of-type(4):before {
        content: "per year";
    }
    
    .addDetail:nth-of-type(5):before {
        content: "once off";
    }

    .addCostDetail:nth-of-type(1):before {
        content: "Option";
    }
    .addCostDetail:nth-of-type(2):before {
        content: "Monthly";
    }
    .addCostDetail:nth-of-type(3):before {
        content: "Annual";
    }
    .addCostDetail:nth-of-type(4):before {
        content: "Once Off";
    }


    .addPayDetail:nth-of-type(1):before {
        content: "Option";
    }
    .addPayDetail:nth-of-type(2):before {
        content: "Monthly";
    }
    .addPayDetail:nth-of-type(3):before {
        content: "Annual";
    }
    .addPayDetail:nth-of-type(4):before {
        content: "Once Off";
    }

    .areaChoice {
        padding: 5px 5px; 
        margin: 0 10px;
        float: right;
    }
    .individualArea {
        width: 50vw;
        left: 0;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .ImageDetails {
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;

    }
    
}

/* ===================================
Area Choice */

.areaChoice {
    width: 100%;
    padding: 5px 55px; 
    margin: 0 25px; 
    display: block;
}

.areaChoice:hover {
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 7px;
}

.individualArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between;
}

select {
    width: 100%;
    height: 30px;
    background-color: white;
}

/* ===============================
Tooltips */

#tt {
    position:absolute;
    display:block;
    }
    #tttop {
    display:block;
    height:5px;
    margin-left:5px;
    overflow:hidden;
    }
    #ttcont {
    display:block;
    padding:2px 12px 3px 7px;
    margin-left:5px;
    background:#666;
    color:#fff;
    }
   #ttbot {
   display:block;
   height:5px; 
   margin-left:5px;  
   overflow:hidden;
   }
   /* ======== REGISTER BUTTON++++++++++ */

   #createProfileBtn {
       display: none;
   }

/* ================ PREVIEW ================= */

.media-object {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
  }
  .media-object .figure {
    margin-right: 20px;
    flex: 1 0 40%;
    max-width: 300px;
    border: 5px solid grey;
    padding: 3px;
    border-radius: 7px;
  }
  .media-object .media-body {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 5px; 
  }
  .media-body-info {
      display: flex;
      justify-content: space-between;
  }
  .media-body-info-detail {
      width: 60%;
      margin: 5px 0;
  }
  .text-infoProfile {
    display: flex; 
    flex-direction: column;
    padding: 5px;
  }
  .media-object-business {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  .media-object-business .figure-business {
    margin: 0 5px;
    margin-right: 20px;
    flex: 1 0 30%;
    max-width: 300px;
    border: 5px solid grey;
    padding: 3px;
    border-radius: 7px;
  }
  .resetPass {
      display: none;
  }

  #MonthlyPmtDiv, #AnnualPaymentDiv, #OnceOffPaymentDiv {
    width: 30%;
    margin-top: 100px;
}
 

  @media screen and (max-width: 768px) {
    .media-object {
        flex-direction: column;
        align-items: center;
        width: 100%;   
    }
    .media-object .figure {
      border: 5px solid grey;
      padding: 3px;
      border-radius: 7px;
      width: 100%;
    }
    .media-object-business {

        flex-wrap: wrap;
   
    }
    .media-object-business .figure-business {
      margin: 5px 5px;
      border: 5px solid grey;
      padding: 3px;
      border-radius: 7px;
    }
    .media-body-info {
        flex-direction: column;
        width: 100%;
    }
    .media-object .media-body{
      width:100%;
    }
    .media-body-info-detail {
        width: 100%;
    }
    #thisProfile {
        flex-direction: column;
        width: 100%;
    }

    
    #showProfiles {
        width: 100%;
        flex-wrap: nowrap;
    }

    #someNotices h2 {
        font-size: 100%;
    }
    
    #paymentRadioGroup {
        flex-direction: column;
        width: 100vw;
    }
    #MonthlyPmtDiv, #AnnualPaymentDiv, #OnceOffPaymentDiv {
        width: 40%;
        margin-top: 100px;
    }
   
   

  }

  