<% include ../partials/header %>
<script src="../js/noticesFiles/selectedNotices.js"></script>
<script src="../../moment.js"></script>

 

<div class="container col-sm-12" id="mainform"
    style="width: 100vw; display: flex; justify-content: center; margin-top: 55px; min-height: 100vh">
    <input id="areaCode" type="text" value="<%= areaCode %>" hidden>

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div id="noNotices" class="panel panel-info" style="display: none">
            <h1 class="text-center" style="align-self: auto; margin-top: 25px;">Community Notices - No new notices</h1>

        </div>
        <h1 id="" class="text-center" style="align-self: auto; margin-top: 25px;">Community Notices</h1>
        <h1 id="pageHeader" class="text-center" style="align-self: auto; margin-top: 25px;">Community Notices</h1>

        <div id="someNotices" class="panel panel-info" style="display: none">
            <div>
                <div id="header"></div>
                <h2 id="title" class="text-center" style="align-self: auto; margin-top: 25px;">Community Notices </h2>
                <h2 id="dateCreated"class="text-center" style="align-self: auto; margin-top: 25px;">Community Notices </h2>
            </div>
            <div class="about-content">
                <p id="actualNotice"></p>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>